<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BotToken" value=""/>
		<add key="GitHubIconsBaseUrl" value="http://openra.mine.nu/Icons/"/>
		<add key="OpenRaFaviconUrl" value="http://openra.mine.nu/Icons/OpenRA_favicon.png"/>
		<add key="TrustedRoles" value="Caretaker;Technical Advisor;Developers"/>
		<add key="FreelyAssignedRoles" value="td;ra;dune;Viewers"/>
	</appSettings>
</configuration>