<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BotToken" value=""/>
		<add key="GitHubIconsBaseUrl" value="http://openra.mine.nu/Icons/"/>
		<add key="OpenRaFaviconUrl" value="http://openra.mine.nu/Icons/OpenRA_favicon.png"/>
		<add key="TrustedRoles" value="Caretaker;Technical Advisor;Developers"/>
		<add key="RoleAssignmentMessageId" value="0"/>
		<add key="FreelyAssignedRolesByEmote" value="tiberium:Tiberian Dawn; nod:Tiberian Dawn; gdi:TiberianDawn; allies:Red Alert; Atreides:Dune 2000; shaihulud:Dune 2000; Harkonnen:Dune 2000; Ordos:Dune 2000;"/>
		<add key="FreelyAssignedRoles" value="Viewers"/>
		<add key="LogStorageFolder" value=""/>
		<add key="ReplayStorageFolder" value=""/>
		<add key="OpenRaUtilityPath" value=""/>
	</appSettings>
</configuration>